# Dependencies
node_modules/

# Mac System
.DS_Store

# Generated Static Content
blog/
privacy/
terms/

# Generated Sitemap
sitemap.xml

# IDE / Editors
.vscode/
.idea/
.cursor/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
