<section class="w-full border-y border-white/5 bg-[#030303] relative z-20 py-12 mb-32">
    <div class="text-center mb-8">
        <p class="text-xs font-semibold uppercase tracking-widest text-neutral-600">
            Your platforms. Covered.
        </p>
    </div>

    <div class="max-w-4xl mx-auto px-6">
        <div
            class="flex items-center justify-center gap-10 md:gap-16 flex-wrap opacity-40 hover:opacity-70 transition-all duration-500">
            <iconify-icon icon="simple-icons:tiktok" width="28" class="text-white"></iconify-icon>
            <iconify-icon icon="simple-icons:youtube" width="32" class="text-white"></iconify-icon>
            <iconify-icon icon="simple-icons:instagram" width="28" class="text-white"></iconify-icon>
            <iconify-icon icon="simple-icons:reddit" width="32" class="text-white"></iconify-icon>
            <iconify-icon icon="simple-icons:linkedin" width="28" class="text-white"></iconify-icon>
            <iconify-icon icon="simple-icons:x" width="24" class="text-white"></iconify-icon>
            <iconify-icon icon="simple-icons:pinterest" width="28" class="text-white"></iconify-icon>
            <iconify-icon icon="simple-icons:snapchat" width="28" class="text-white"></iconify-icon>
        </div>
    </div>
</section>